body{
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    background-color: rgb(210, 117, 117);
    color: rgb(45, 60, 162);
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=800);
}
a{
    color:black;
}
a:hover{
    font-size: large;
    color:deeppink;
}
img{
    display: block;
    width: 50%;
    border: solid white 5px;
    padding: 3px;
    margin: auto;
}
.riz{
    font-family: chiller,'comic sans', wingsdings, engravers, sans-serif;
    font-size: xx-large;
    color:rgb(113, 113, 236);
    text-decoration: overline;
    background-color:rgb(192, 180, 180);
    border: solid magenta 5px;
    border-top: none;
}
.riz:hover{
    display:block;
    text-align: center;
    font-size: 300%;
}
.common{
    position: absolute;
    /*border: 4xp solid fuchsia;
    background-color: rgba(13,43,43,0.75); */
    padding: 5px;
   
}
.footer{
    position: fixed;
    background-color: rgb(92, 92, 179)
    border-top: 1xp white solid;
    bottom: 0px;
    width: 100%;
    display: block;
    text-align: center;
    font-style: italic;
    font-size: small;
    z-index: 2;
}
.nav{
    position: relative;
    float:right;
    z-index: 1;
}
.header{
    font-size: xx-large;
    front-weight: bolder;
    font-family: cursive;
    width: 100%;
    text-align:center;
    border-bottom: 1px white solid;
}
.mainbody{
    top: 70px;
    bottom: 50px;
    width:  100%;
    text-align:center;
}